body{
    text-align: center;
    background-color: azure;
    margin: 0px;
}

p{
    font-size: 15px;
}

i{
    font-size: 29px;
    text-decoration: none;
    color: white;
}

a{
    text-decoration: none;
    color: black; 
}

.bold{
    font-size: 18px;
    font-weight: bold;
}

hr{
    height: 2px;
    background-color: black;
    border: none;
    margin-top: 0;
    margin-left: 400px;
    margin-right: 400px;
}

.headerDiv{
    background-image: url("https://i.ibb.co/MVRFRfc/IMG-0901.jpg");
    background-repeat: no-repeat;
    background-size: 100% 500px;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.headerImg{
    border-radius: 50%;
}

.fa-github{
    margin-right: 10px;
}

.educationDiv > h1{
    background-color: black;
    color: white;
}

.aboutMeDiv > p{
    padding-left: 400px;
    padding-right: 400px;
}

.aboutMeDiv > h1{
    background-color: black;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
}

.projectsDiv > h1{
    background-color: black;
    color: white
}

@media (max-width: 1700px){
    .aboutMeDiv > p {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media (max-width: 1200px){
    .headerImg{
        height: 250px;
        width: 250px
    }

    .educationDiv > p {
        padding-left: 25px;
        padding-right: 25px;
    }

    .aboutMeDiv > p {
        padding-left: 75px;
        padding-right: 75px;
    }

    .projectsDiv > p {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width: 1000px){
    hr{
        margin-left: 100px;
        margin-right: 100px;
        height: 1px;
    }

    .headerDiv{
        background-size: 100% 400px;
    }

    .headerImg{
        height: 200px;
        width: 200px
    }

    .educationDiv > p {
        padding-left: 25px;
        padding-right: 25px;
    }

    .aboutMeDiv > p{
        padding-left: 25px;
        padding-right: 25px;
    }

    .projectsDiv > p {
        padding-left: 25px;
        padding-right: 25px;
    }

    .linkImg{
        height: 350px;
        width: 500px;
    }
}

@media (max-width: 699px){
    .headerDiv{
        background-size: 100% 350px;
    }
}

@media (max-width: 799px){

    h1{
        font-size: 20px;
    }

    h2{
        font-size: 15px;
    }

    h3{
        font-size: 12px;
    }

    p{
        font-size: 10px;
    }

    .bold{
        font-size: 15px;
    }

    .headerDiv{
        background-size: 100% 250px;
    }

    .headerDiv > h1 {
        font-size: 15px
    }

    .headerDiv > h2 {
        font-size: 12px
    }

    .headerDiv > h3 {
        font-size: 10px
    }

    .headerImg{
        height: 100px;
        width: 100px
    }

    i{
        font-size: 15px;
    }

    .educationDiv > p {
        padding-left: 25px;
        padding-right: 25px;
    }

    .projectsDiv > p {
        padding-left: 25px;
        padding-right: 25px;
    }

    .linkImg{
        height: 250px;
        width: 350px;
    }
}

@media (max-width: 375px){

    .bold{
        font-size: 12px;
    }

    .headerDiv{
        background-size: 100% 170px;
    }

    .headerDiv > h1 {
        font-size: 10px
    }

    .headerDiv > h2 {
        font-size: 8px
    }

    .headerDiv > h3 {
        font-size: 6px
    }

    .headerImg{
        height: 75px;
        width: 75px
    }

    i{
        font-size: 10px
    }

    .linkImg{
        height: 200px;
        width: 300px;
    }
}